/* CSS */
 





#formstart {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:200%;
	font-weight:bold;
}

.outline3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:150%;
	font-weight:bold;
}

.outline4 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:120%;
	font-weight:bold;
}
.
