/* CSS */

body {
    font: normal 20px Helvetica sans-serif;
    background-color: #f5f5ff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
  background-color: #fff;
  padding: 30px;
  width: 40%;
}

fieldset {
    border: 2px solid #8c8c8c;
    color: #000;
    background: #f5f5ff;
    padding: 0.5em;
}

legend {
    font-size: 1em;
    font-weight: bold;
    color: #000;
}

ul {  
	list-style: none;  
}

li {list-style: none}

#content {
	border: 2px solid #8c8c8c;
	width: 60%;
	margin-left:4%;
	background-color: #fff;
	padding: 30px;
}

textarea:focus, select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
	color: #BF1722 !importnat
	background-color: #fff2a8 !important;
	outline:solid #03C medium;
}

label{
	margin-right: .3em;
	width: 30%;
	display: inline-block;
	text-align: left;
}

label2{
	margin-right: .3em;
	width: 3em;
	display: inline-block;
	text-align: left;
}

.formstart {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:200%;
	font-weight:bold;
    	text-align: center;
	display: flex;
  	align-items: center;
	width: 100%;
}

.bigbutton {
    	text-align: center;
	display: inline-block;
	font-size:200%;
  	align-items: center;
	width:100%
}

.outline3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:150%;
	font-weight:bold;
    	text-align: center;
	display: flex;
  	align-items: center;
}

.outline4 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:120%;
	font-weight:bold;
}

.formheader {
	text-align: center;
	display: flex;
  	align-items: center;
	width: 100%;
}

input.reqfield, textarea.reqfield {
background:#F0F9F9;
}
	
