/* CSS */
 
textarea:focus, select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
	color: #BF1722 !importnat
	background-color: #fff2a8 !important;
	outline:solid #03C medium;
}

label{
margin-right: .3em;
width: 5.9em;
display: inline-block;
text-align: right;
}


#formstart {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:200%;
	font-weight:bold;
}

.outline3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:150%;
	font-weight:bold;
}

.outline4 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:120%;
	font-weight:bold;
}
.
